
<div class="list-group col-lg-3" style="flex-direction: row; max-width: 70%">
    <a href="/manage" class="list-group-item list-group-item-info"  >Bài hát</a>
    <a href="/manage/Singer" class="list-group-item list-group-item-info"  >Ca sĩ</a>
    <a href="/manage/Category" class="list-group-item list-group-item-info" >Thể Loại</a>
    <a href="/manage/Playlist" class="list-group-item list-group-item-info" >Playlist</a>
    <a href="/manage/Album" class="list-group-item list-group-item-info"  >Album</a>
</div>

